@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("font-awesome.min.css")
;#navbarSupportedContent {
    width: 100%;
    background-color: #f9ece6;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 0;
    border-radius: 15px 15px 0 0;
}

#navbarSupportedContent.innerpage_navbar {
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
}

#navbarSupportedContent.innerpage_navbar .nav-item.active .nav-link {
    background-color: #f4f5f6;
}

#navbarSupportedContent .navbar-nav .nav-link {
    padding: 5px 25px;
    color: #514f4f;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
}

#navbarSupportedContent .nav-item.active .nav-link {
    background-color: #ffffff;
}